
p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 28%;
    margin-right: 28%;
    text-align: center;
  }
  
  h1 {
    color: #0481ff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  
  }
  
  h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  
  h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  
  h4 {
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  
  h5 {
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  
  h6 {
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  
  
  body {
   background-color: #ffffff;
  }
  
  a {
     color: orange;
     font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    text-decoration: none;
  }
  
  img {
  max-width:100%;
  max-height:100%
  }
  
  video {
     margin-top: 60px;
  }