
p {
  color: lightblue;
}

h1 {
  color: white;
  background-color: #212121
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}


body {
 background-image: url("background.jpg");
 background-color: #cccccc;
}

a {
   color: lightblue
}
